body {
  width: 100vw;
  height: 100%;
  margin: 0;

  overflow-y: scroll;
  overflow-x: hidden;
}

@font-face {
  font-family: 'RedOctober-Light';
  src: local('RedOctober'),
  url('../public/fonts/RedOctober-Light.ttf') format("truetype");
  font-weight: lighter;
  /* font-style: normal; */
  }
@font-face {
  font-family: 'RedOctober';
  src: local('RedOctober'),
  url('../public/fonts/RedOctober.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: "RedOctober-Fat";
  src: url("../public/fonts/RedOctober-Fat.ttf");
  font-weight: bold;
  font-style: bold;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.section-one {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.title{
  /* position: absolute; */
  /* z-index: 99; */
  font-family: "RedOctober-Fat";
  font-size: 5.4rem;
  margin: 0;
  color: white;
}
.description{
  /* z-index: 99; */
  font-family: "RedOctober-Light";
  font-size: 1.4rem;
  color: white;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: steelblue;
  background-image: url("../public/ad30.png");
  background-repeat: repeat;
  /* background-size: cover; */
}

.section-three {
  background-color: crimson;
}

.section-four {
  background-color: lime;
}

.section-five {
  background-color: grey;
}

.box{
  height: 400px;
  width: 800px;
  background: white;
}